<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471866643979-v70lgcat0g264le36apfspthnvdnmid7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471866643979-v70lgcat0g264le36apfspthnvdnmid7</string>
	<key>API_KEY</key>
	<string>AIzaSyC2S1uvD1CdArqQ-D4S2BP9wNz-hH2rpdE</string>
	<key>GCM_SENDER_ID</key>
	<string>471866643979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pearlorganisation.namasteThailand</string>
	<key>PROJECT_ID</key>
	<string>namastethailand-22dbf</string>
	<key>STORAGE_BUCKET</key>
	<string>namastethailand-22dbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471866643979:ios:b9b2c2c471e3a77e73590e</string>
</dict>
</plist>